#ModalOverlay { 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  /*background-image: url(../images/.modal.bg.png); uncommment for IE support */
	background-color: rgba(0, 0, 0, .9);
	z-index: 1000;
	opacity: 0;
	-moz-transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
}

#ModalOverlay div {
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.ModalNone {
	-moz-transition: all 0.2s ease-out;
	-moz-transform: scale(0);
	-webkit-transition: all 0.2s ease-out;
	-webkit-transform: scale(0);
}
.ModalZoom {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.ModalNormal {
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
}
