#FidelModalOverlay { 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	z-index: 1000;
	opacity: 0;
	-moz-transition: opacity 0.3s ease-out;
	-webkit-transition: opacity 0.2s ease-out;
}
#FidelModalOverlay.zoom {
	opacity: 1;
}
#FidelModalOverlay.normal { 
}

#FidelModalOverlay div {
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-moz-transition: all 0.3s ease-out;
	-moz-transform: scale(0.5);
	-webkit-transition: all 0.2s ease-out;
	-webkit-transform: scale(0.5);
}
#FidelModalOverlay.zoom div {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
#FidelModalOverlay.normal div {
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
}
